# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
terraform.tfvars
*.tfvars
!terraform.tfvars.example
tfplan
*.tfplan

# Terraform CLI config (інколи)
.terraformrc
terraform.rc

# Mac
.DS_Store